# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.log

# Firebase / Secret Keys
*-key.json
.firebase/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
.DS_Store
